.root{
    -fx-background-image: url("../img/background.jpg");

}

#panel{
    -fx-alignment: center;
    -fx-padding: 1em;
    -fx-background-color: rgba(0,0,0,0.7);
}

#terminer{
    -fx-background-color: #d6ba51;
    -fx-padding: 1em;
    -fx-pref-width: 22em;
}

#notice{
    -fx-text-fill: antiquewhite;
    -fx-padding: 0 2em 0 2em;
    -fx-pref-width: 46em;
    -fx-pref-height: 6em;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#mode-label {
    -fx-text-fill: antiquewhite;
    -fx-padding: 1em 0 0 0;
    -fx-pref-width: 15em;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#game{
    -fx-alignment: center;
    -fx-hgap: 1em;
    -fx-vgap: 1em;
}
#game > *{
    -fx-padding: 0.6em 1em 0.6em 1em;
}

.case-red {
    -fx-background-color: red;
    -fx-pref-width: 80px;
    -fx-pref-height: 60px;
    -fx-text-fill: white;
    -fx-font-size: 1.3em;
}
.case-blue {
    -fx-background-color: blue;
    -fx-pref-width: 80px;
    -fx-pref-height: 60px;
    -fx-text-fill: white;
    -fx-font-size: 1.3em;
}
.case-green {
    -fx-background-color: green;
    -fx-pref-width: 80px;
    -fx-pref-height: 60px;
    -fx-text-fill: white;
    -fx-font-size: 1.3em;
}
.case-yellow {
    -fx-background-color: yellow;
    -fx-pref-width: 80px;
    -fx-pref-height: 60px;
    -fx-font-size: 1.3em;
}
.case-black {
    -fx-background-color: black;
    -fx-pref-width: 80px;
    -fx-pref-height: 60px;
    -fx-text-fill: white;
    -fx-font-size: 1.3em;
}
.case-neutre {
    -fx-pref-width: 80px;
    -fx-pref-height: 60px;
    -fx-font-size: 1.3em;
}

.focus {
    -fx-effect: dropshadow(gaussian, #fff9f0, 7, 0.7, 0, 0);
}
