.root{
    -fx-background-image: url("../img/background.jpg");
}

#panel{
    -fx-pref-height: 100px;
    -fx-alignment: center;
    -fx-padding: 1em;
    -fx-background-color: rgba(0,0,0,0.7);
}

#terminer{
    -fx-background-color: #d6ba51;
    -fx-padding: 1em;
    -fx-pref-width: 22em;
}

#notice{
    -fx-text-fill: antiquewhite;
    -fx-padding: 0 2em 0 2em;
    -fx-pref-height: 6em;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#mode-label {
    -fx-text-fill: antiquewhite;
    -fx-padding: 1em;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#timer {
    -fx-text-fill: antiquewhite;
    -fx-font-size: 1em;
    -fx-padding: 1em;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-border-color: white;
    -fx-border-radius: 2em;
}

#game{
    -fx-alignment: center;
    -fx-hgap: 1em;
    -fx-vgap: 1em;
}
#game > *{
    -fx-padding: 0.6em 1em 0.6em 1em;
}

.case-red {
    -fx-fill: rgba(255,0,0,0.4);
    -fx-border-color: trasparent;
}
.case-blue {
    -fx-fill: rgba(0,0,255,0.4);
    -fx-border-color: trasparent;
}
.case-green {
    -fx-fill: rgba(0,255,0,0.4);
    -fx-border-color: trasparent;
}
.case-yellow {
    -fx-fill: rgba(255,255,0,0.4);
    -fx-border-color: trasparent;
}
.case-black {
    -fx-fill: rgba(0,0,0,0.4);
    -fx-border-color: trasparent;
}
.case-neutre {
    -fx-fill: rgba(255,255,255,0.1);
    -fx-border-color: trasparent;
}

.focus {
    -fx-effect: dropshadow(gaussian, #fff9f0, 7, 0.7, 0, 0);
}

#fin{
    -fx-text-alignment: center;
    -fx-text-fill: antiquewhite;
}

#message{
    -fx-text-alignment: center;
    -fx-text-fill: antiquewhite;

}

#panneauFinPartie{
    -fx-alignment: center;

}

#retour, #recommencer, #lance-continue, .menu_button{
    -fx-background-color: #d6ba51;
    -fx-padding: 0.8em;
    -fx-font-weight: bold;
}

#retour:hover, #recommencer:hover, #lance-continue:hover, .menu_button{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-color: #ccb050;
}

#recommencer{
    -fx-translate-x: 2em;
}

#bouton{
    -fx-alignment: bottom-center;
    -fx-translate-y: -5em;
}
.labels {
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-background-color: white;
    -fx-text-alignment: center;
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}
#menu {
    -fx-alignment: center;
    -fx-background-image: url("../img/background.jpg");
    -fx-paddding: 5px;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-max-width: 300;
    -fx-max-height: 425;
}
#menu > * {
    -fx-alignment: center;
}

.menu_button {
    -fx-pref-width: 250px;
}
#pause_label {
    -fx-text-fill: white;
    -fx-font-size: 4em;
}
#volume {
    -fx-background-color: white;
}

#dice_result {
    -fx-font-size: 200px;
    -fx-padding: 25px;
    -fx-background-color: lightgrey;
    -fx-border-radius: 12px;
}