.root{
    -fx-background-image: url("../img/background.jpg");

}

#panel{
    -fx-alignment: bottom-center;
    -fx-padding: 0 0 2em 0;
}

#notice{
    -fx-text-fill: antiquewhite;
    -fx-padding: 1em 0 0 0;
    -fx-pref-width: 20em;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

#game{
    -fx-alignment: center;

}

.case-red {
    -fx-background-color: red;
}
.case-blue {
    -fx-background-color: blue;
}
.case-green {
    -fx-background-color: green;
}
.case-yellow {
    -fx-background-color: yellow;
}
.case-black {
    -fx-background-color: black;
}
