.root{
    -fx-background-image: url('../img/background.jpg');
}

#joueurButton1,#joueurButton2, #joueurButton3, #joueurButton4, #nbjoueurs, #type{
    -fx-text-fill: white;
    -fx-alignment: bottom-center;
}
#panAsking {
    -fx-alignment: center;
    -fx-padding: 1.5em 0 4em 0em;
    -fx-vgap: 0.8em;
}
#jouer{
    -fx-alignment: center;
    -fx-font-size: 2.5em;
    -fx-padding: 1em;
    -fx-font-weight: 100;
}

#btnHbox, #titre{
    -fx-pref-height: 200px;
    -fx-alignment: center;
}

#panneau{
    -fx-alignment: center;
    -fx-vgap: 0.3em;
}

#titre{
    -fx-translate-y: 2em;
}

#continuer, #nouvellePartie, #options, #apropos, #choisir {
    -fx-alignment: center;
}
.button{
    -fx-font-size: 1.2em;
    -fx-padding: 0.8em;
    -fx-font-weight: bold;
    -fx-background-color: #d6ba51;
    -fx-pref-width: 300px;
}
#choix{
    -fx-padding: 0em;
    -fx-font-weight: bold;
    -fx-background-color: #d6ba51;
    -fx-pref-width: 80px;
}

#listecarte{
    -fx-background-color: #d6ba51;
}
.button:hover,#choix:hover{
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-color: #ccb050;
}

#titre3 {
    -fx-alignment: top-center !important;
}
#cartemenu, #nbjoueurspartie, #typepartie, #imgcarte {
    -fx-alignment: center;
    -fx-padding: 1.5;
}
#panJoueur {
    -fx-text-fill: white;
    -fx-alignment: center;
}
#nomJoueur {
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-padding : 0 2em 0 0;
}

